[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "polle"]
	path = polle
	url = https://github.com/andreasnordland/polle
[submodule "targeted"]
	path = targeted
	url = https://github.com/kkholst/targeted
	branch = main
	registered = false
